<hr />
<div class="row">
    <div class="jumbotron">
        <h2>Web API Numbers Demonstration</h2>
        <hr />
        <p>Simply press either button and it will generate a list of numbers,
         submit it to the API, and then the bottom will render the result.</p>
        <div class="btn btn-success" id="sum">
            Get Sum of Numbers
        </div>
        <div class="btn btn-primary" id="largestNum">
            Get Largest Number
        </div>
        <div class="btn btn-default" id="smallestNum">
            Get Smallest Number
        </div>
    </div>
    <hr />
    <h3>Response</h3>
    <div class="well" id="response"></div>
    <hr />
</div>